AI_GATEWAY_API_KEY=xxx
AI_GATEWAY_BASE_URL=xxxx
AI_GATEWAY_MODEL=@makers/minimax-m2.7
WEB_DEV_AGENT_DEBUG=false

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_xxx
CLERK_SECRET_KEY=sk_test_xxx
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/

SUPABASE_URL=https://xxx.supabase.co
SUPABASE_SERVICE_ROLE_KEY=xxx
DEFAULT_USER_TOKEN_QUOTA=0
ADMIN_INITIAL_TOKEN_QUOTA=1000000
RUN_TOKEN_RESERVE=20000
